@model DomainModels.PlaylistArtist

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlaylistArtist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <select asp-for="PlaylistId" asp-items="@ViewBag.Playlists" class="form-select" aria-label="">
                    <option value="">Select playlist</option>
                </select>

                <span asp-validation-for="PlaylistId" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">

                <select asp-for="ArtistId" asp-items="@ViewBag.Artists" class="form-select" aria-label="">
                    <option value="">Select artist</option>
                </select>

                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br/>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
