@model IEnumerable<DomainModels.Song>

@{
    ViewData["Title"] = "Most liked songs per genre";
}

<h1>Most liked songs per genre</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Likes)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
        </tr>
}
    </tbody>
</table>
