@model DomainModels.SongMusicType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SongMusicType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="SongMusicTypeId" hidden class="form-control" />
                <span asp-validation-for="SongMusicTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">

                <select asp-for="SongId" asp-items="@ViewBag.Songs" class="form-select" aria-label="">
                </select>

                <span asp-validation-for="SongId" class="text-danger"></span>
            </div>

            <br/>

            <div class="form-group">
                 <select asp-for="MusicTypeId" asp-items="@ViewBag.MusicTypes" class="form-select" aria-label="">
                </select>
                <span asp-validation-for="MusicTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br/>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
