@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>

<br/>

<div class="list-group">

  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="Artist">Artist</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="Song">Song</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="Album">Album</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="MusicType">Music type</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="ArtistSong">Artist - Song</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="AlbumSong">Album - Song</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="PlaylistArtist">Playlist - Artist</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="PlaylistAlbum">Playlist - Album</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="PlaylistSong">Playlist - Song</a>
  <a class="list-group-item list-group-item-action" asp-action="" asp-controller="SongMusicType">Song - Music Type</a>

</div>

